<p id="notice"><%= notice %></p>

<p>
  <strong><%= Coin.human_attribute_name(:description)%></strong>
  <%= @coin.description %>
</p>

<p>
  <strong><%= Coin.human_attribute_name(:acronym)%></strong>
  <%= @coin.acronym %>
</p>

<p>
  <strong><%= Coin.human_attribute_name(:url_image)%></strong>
  <%= @coin.url_image %>
  <br>
  <strong>Imagem:</strong>
  <%= image_tag @coin.url_image, size:"25x25" %>
</p>

<%= link_to t('links.edit'), edit_coin_path(@coin) %> |
<%= link_to t('links.back'), coins_path %>
