<h1>AdminsBackoffice::Admins#index</h1>

<div class="card shadow mb-4">
  <div class="card-header py-3 row">
    <h6 class="m-0 font-weight-bold text-primary">Administradores</h6>
    <%= link_to new_admins_backoffice_admin_path, class:"btn btn-success btn-icon-split ml-auto" do %>
    <span class="icon text-white-50">
      <i class="fas fa-plus"></i>
    </span>
    <span class="text">Cadastrar novo</span>
    <% end %>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Criado em</th>
            <th>Atualizado em</th>
            <th>Código</th>
            <th colspan="2">Ações</th>
          </tr>
        </thead>
<!--         <tfoot>
          <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Criado em</th>
            <th>Atualizado em</th>
            <th>Código</th>
          </tr>
        </tfoot> -->
        <tbody>
          <% @admins.each do |admin| %>
          <tr>
            <td>Igor</td>
            <td><%= admin.email %></td>
            <td><%= l(admin.created_at, format: :long) %></td>
            <td><%= l(admin.updated_at, format: :long) %></td>
            <td><%= admin.id %></td>
            <td><%= link_to edit_admins_backoffice_admin_path(admin) do%> <i class="fa fa-pen"></i> <% end %></td>
            <td><%= link_to admins_backoffice_admin_path(admin), method: :delete, data: { confirm: "Tem certeza? "} do%> <i class="fa fa-trash"></i> <% end %></td>
          </tr>
          <% end %>
        </tbody>
      </table>


    </div>
  </div>
</div>

<div class="row">
  <div class="ml-auto">
    <%= paginate @admins %>
  </div>
</div>

