<div class="jumbotron">
  <h1 class="display-4"><%=t('welcome.title')%></h1>
  <p class="lead"><%=t('welcome.msg')%></p>
  <hr class="my-4">
  <p><%=t('welcome.menu')%></p>
  <p class="lead">
    <%= render "menu" %>
  </p>
</div>

<p>O idioma usado nessa aplicação é: <%= t('locale') %></p>
<p><strong>Data:</strong> <%= Date.today %></p>

